@font-face{
  font-family: "KHand Semibold";
  src: url('../fonts/khand/khand-semibold.ttf');
  font-weight: normal;
  font-style: normal;
}

.drop-shadow{
    -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -moz-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -ms-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -o-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
}

.drop-shadow-heavy{
    -webkit-filter: drop-shadow(50px 50px 40px rgba(0,0,0,0.75));
    -moz-filter: drop-shadow(50px 50px 40px rgba(0,0,0,0.75));
    -ms-filter: drop-shadow(50px 50px 40px rgba(0,0,0,0.75));
    -o-filter: drop-shadow(50px 50px 40px rgba(0,0,0,0.75));
}

.condensed-text{
    -webkit-transform:scale(0.8, 1.0);
    -moz-transform:scale(0.8, 1.0);
    -ms-transform:scale(0.8, 1.0);
    -o-transform:scale(0.8, 1.0);
    transform:scale(0.8,1.0);
}


div.left-side{
	position:fixed;
	/*
	width: 100%;
	height: 100%;
	*/
	z-index: -1;
}

div.middle-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1080px;
    width: 1920px;
    /*
    height: 100%;
    width: 100%;
    */
    z-index: 5;
    position: fixed;
}

div.middle-logo{
    height: 1080px;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 6;
}

div.right-side{
	position: fixed;
	/*
	width: 100%;
	height: 100%;
	*/
	z-index: -1;
}

img.character {
    height: 1080px;
    width: 1920px;
}

div.logo{
    z-index: 6;
}

div.logo > img{
    height: 250px;
}

img.foreground-image{
    height: 100%;
    width: 100%;
    z-index: 5;
}

/*
img.right-character {
    margin-top: 150px;
    margin-left: 850px;
    height: 1080px;
}

img.left-character {
    margin-top: -50px;
    margin-left: -250px;
    height: 1080px;

}
*/

div.bottom-recursion-logo{
    bottom: 0;
    left: 0;
    margin-bottom: 11%;
    height: 13%;
    width: 13%;
    z-index: 8;
    position: fixed;
}

img.recursion-logo{
    height: 100%;
    width: 100%;
}

.text-shadow{
    text-shadow: 1px 1px;
}

.text-shadow-bold{
    text-shadow: 5px 5px black;
}

div.text-section{
    height: 1080px;
    width: 1920px;
    position: fixed;
    z-index: 8;
}

.tournament-round{
    top:0;
    left: 0;
    margin-top: 15px;
    margin-left: 1450px;
    position: fixed;
    display: block;
    text-align: right;
    width: 500px;
    font-family: 'KHand Semibold';
    font-size: 84pt;
    color: #f7f7f7;
    z-index: 8;
    letter-spacing: 8pt;
    line-height: 1em;
}


div.left-tag{
    top: 0;
    margin-top: 10px;
    margin-left: 340px;
    text-align: center;
    position: fixed;
    height: 150px;
    width: 950px;
    z-index: 8;
    font-family: 'KHand Semibold';
    font-size: 102pt;
    letter-spacing: 2pt;
    color: #f7f7f7;
}

div.right-tag{
    top:0;
    margin-top: 900px;
    margin-left: 625px;
    position: fixed;
    text-align: center;
    height: 150px;
    width: 950px;
    z-index: 8;
    font-family: 'KHand Semibold';
    font-size: 102pt;
    letter-spacing: 2pt;
    color: #f7f7f7;

}